* {
    padding: 0px; 
    margin: 0px; 
    color: #FFF;
}

@media only screen and (max-device-width: 900px) {
     .menu { width:100%; } 
    }

 /* row justify content center */
 /* flex-direction: row; */

body {
    background: # 191970;     
    
} 

 #bloco1, #bloco2, #bloco3 {
    display: inline;
} 

#bloco2 {
    padding-left: 280px;
    padding-right: 270px;
}

#comunidade, #codigo {
    padding-top: 30px;
    display: inline;
}

#vertical, #vertical2 {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.cabecalho  {
   display: flex;
   flex-wrap: nowrap; /* elementos fiquem alinhados na mesma linha e em ordem*/
   text-align: center;
   justify-content: space-around;
   background: #000;
   width: 100%;
} 


#nav {
    width: 100%;
}

#img1 {
    height: 100px;
    width: 200px;
    /* margin: 20px 10px 20px 20px; */
    text-align: left;
}

h6 {
    color: #FFF;
}

#input1 {
    margin: 20px 200px 20px 200px;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    background: #23238E;
    border: none;
    outline: 0;
    padding: 10px;
    text-align: center;
}

#img2 {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
    text-align: right;
}

.menu {
    display: block;
    margin: 5px;
    color: #FFF;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding: 100px 0px 0px 100px;
}

.menu p {
    display: flex;
    padding: 0px 170px 0px 0px;
}

.menu img {
    display: flex;
}

#codigo , #comunidade {
    width: 50px;
}

.caixaDeTexto {
    margin: 0 auto;
    display: block;    
    outline: 0;
    
}

#caixaTexto {
    background: #000;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    color: #FFF;
    border: solid #ADD8E6;
    border-width: 30px;
    margin: 30px 200px 20px 210px;
    padding: 10px;
    outline: 0; 
}

#botao{
    display: inline;
    /* elementos fiquem alinhados na mesma linha e em ordem*/
    flex-wrap: nowrap; 
    text-align: center;
    margin: 20px 200px 20px 200px;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    background: #23238E;
    border: none;
    outline: 0;
    
}

#botao:hover {
    background-color: #ADD8E6;
}


.blocoFinal {
    padding: 70px 0px 200px 5px;
    width: 100%;
}

#input2, #input3 {
    display: block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background: #23238E;
    border: none;
    outline: 0;
    padding: 10px;
    
}

#input3 {
    height: 100px;
}

#b1{
    display: block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background: #ADD8E6;
    border: none;
    outline: 0;
}

select, #b2 {
    display: block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background: #23238E;
    border: none;
    outline: 0;
}

#b2:hover{
    background-color: #ADD8E6;
}

/* união dos 3 blocos da horizontal */
.menu, .caixaDeTexto, .final {
    display: block;
}


p {
    text-align: center; 
}

h6 {
    text-align: left;
}

h2 {
    text-align: center;
}




