* {
    padding: 0px; 
    margin: 0px; 
}

 /* row justify content center */
 /* flex-direction: row; */

body {
    background: #191970;     
    
} 

#vertical, #vertical2 {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.cabecalho  {
   display: flex;
   flex-wrap: nowrap; /* elementos fiquem alinhados na mesma linha e em ordem*/
   text-align: center;
   justify-content: space-around;
   background: #000;
   width: 100%;
} 

#img1 {
    height: 100px;
    width: 200px;
    /* margin: 20px 10px 20px 20px; */
    text-align: left;
}

#input1 {
    margin: 20px 200px 20px 200px;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    background: #23238E;
    border: none;
    outline: 0;
    padding: 10px;
    text-align: center;

}

#img2 {
    height: 50px;
    width: 50px;
    margin: 20px 20px 20px 20px;
    text-align: right;
}

.menu {
    display: block;
    margin: 5px;
    color: #FFF;
    margin: 100px 20px 100px 20px;
    justify-content: center;
}

.menu p {
    display: flex;
    padding: 0px 170px 0px 0px;
}

.menu img {
    display: flex;
}

#codigo , #comunidade {
    width: 50px;
}

.caixaDeTexto {
    margin: 20px 20px 20px 0px;
    display: block;    
}

#caixaTexto {
    background: #000;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    color: #FFF;
    border: solid #ADD8E6;
    border-width: 30px;
    margin: 20px 200px 20px 200px;
    padding: 10px;
}

#botao{
    display: inline;
    /* elementos fiquem alinhados na mesma linha e em ordem*/
    flex-wrap: nowrap; 
    text-align: center;
    margin: 20px 200px 20px 200px;
    border-radius: 10px;
    height: 50px;
    width: 500px;
    background: #23238E;
    border: none;
    outline: 0;
    
}

#botao:hover {
    background-color: #6495ED;
}


.blocoFinal {
    padding: 10px 0px 200px 0px;
}

#input2, #input3 {
    display: block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background: #23238E;
    border: none;
    outline: 0;
    padding: 10px;
    
}

#input3 {
    height: 100px;
}

#b1{
    display: block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background: #ADD8E6;
    border: none;
    outline: 0;
}

select, #b2 {
    display: block;
    margin: 20px 20px 20px 0px;
    border-radius: 10px;
    height: 50px;
    width: 300px;
    background: #23238E;
    border: none;
    outline: 0;
}

/* união dos 3 blocos da horizontal */
.menu, .caixaDeTexto, .final {
    display: block;
}


p {
    text-align: center; 
}

h6 {
    text-align: left;
}

h2 {
    text-align: center;
}




